#deshabilita toda la lista de directorios en el navegador
Options All -Indexes

# Activar el motor de reescritura
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# primero va la expresion regular q evalua lo q llevara la url / url esla variable get q toma la ruta
#RewriteRule ^([^/]+)/([^/]+)/([^/]+)$ index.php?url=$1&url2=$2&url3=$3 [L,QSA]
RewriteRule ^([-a-zA-Z0-9/]+)$ index.php?url=$1 [L,QSA]



